<h1><%= @user.name %></h1>
<p><%= @user.description %></p>
<% if @posts.any? %>
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-md-6 col-lg-4">
      <div class="cardbox-heading">
        <div class="media m-0">
          <div class="media-body">
            <p class="m-0"><%= @user.username %></p>
            <small class="float-right"><%= time_ago_in_words(post.created_at) %> ago</small>
          </div>
        </div>
      </div>
      <div class="cardbox-item">
        <%= image_tag post.image.variant(combine_options: {resize: '350', gravity: 'Center', crop: '350x350+0+0'}) if post.image.attached? %>
      </div>
      <div class="cardbox-base">
        <P>Name: <%= link_to post do %><%= post.name %><% end %></P>
        <p>Price: <%= post.price %> yen</p>
      </div>
    </div>
    <% end %>
  </div>
<% end %>