<% if current_user.has_liked?(@post) %>
  <%= form_for(current_user.likes.find_by(post_id: @post.id), html: { method: :delete }) do |f| %>
    <%= hidden_field_tag :post_id, @post.id %>
    <%= button_tag type: 'submit' do %>
      <span class="icon"><i class="fas fa-heart"></i></span>
    <% end %>
  <% end %>
<% else %>
  <%= form_for(current_user.likes.build) do |f| %>
    <%= hidden_field_tag :post_id, @post.id %>
    <%= button_tag type: 'submit' do %>
      <span class="icon"><i class="far fa-heart"></i></span>
    <% end %>
  <% end %>
<% end %>