<div class="row">
  <div class="col-lg-4">
    <div class="card profile">
      <%= render 'profile' %>
      <% if user_signed_in? %>
        <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
    <br />

    <% if user_signed_in? %>
      <div>
        <p>Would you like to export CSV file?</p>
        <%= link_to 'Click here', posts_path(format: :csv) %>
      </div>
    <% end %>
  </div>
  
  <div class="col-lg-8">
    <div class="offset-lg-2">
      <div class="search-bar">
        <% if user_signed_in? %>
          <%= search_form_for @q do |f| %>
            <div class="form-inline">
              <%= f.search_field :shop_or_broth_or_area_cont, placeholder: 'Search by shop, area, or broth', size: '50' ,class: 'form-control' %>
              <%= button_tag type: 'submit' do %>
                <i class="fas fa-search" aria-hidden="true"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <div class="col-lg-8 offset-lg-2">
      <% @posts.each do |post| %>
        <section class="post">
          <div class="container">
            <div class="row">	
              <div class="cardbox shadow-lg bg-white my-2">
                <%= render 'photo', post: post %>
                <div class="cardbox-base">
                  <%= render 'layouts/cardbox_base', post: post %>
                  <p class="float-right"><%= link_to post do %><span class="icon"><i class="fas fa-eye"></i></span>View more</p><% end %>
                </div>
              </div>
            </div>
          </div>
        </section>
      <% end %>
      <br />
      <%= paginate @posts %>
    </div>
    
  </div>

</div>

