<div class="row">
  <%= render 'profile' %>

  <div class="col-md-6">
    <%= render 'form' %>

    <% @posts.each do |post| %>
      <section class="post">
        <div class="container">
          <div class="row">	
            <div class="cardbox shadow-lg bg-white">
              <%= render 'photo', post: post %>
              <div class="cardbox-base">
                <P>Name: <%= link_to post do %><%= post.name %><% end %></P>
                <p>Price: <%= post.price %> yen</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    <% end %>
    <%= paginate @posts %>
  </div>

  <div class="col-md-3">
  
  </div>
</div>

