<div class="row">
  <div class="col-lg-4">
    <%= render 'profile' %>
    <br />
    <%= render 'form' %>

    <br />
    <div>
      <p>Would you like to export CSV file?</p>
      <%= link_to 'Click here', posts_path(format: :csv) %>
    </div>
  </div>
  
  <div class="col-lg-8">
    <div class="offset-lg-2">
      <div class="search-bar">
        <% if user_signed_in? %>
          <%= search_form_for @q do |f| %>
            <div class="form-inline">
              <%= f.search_field :name_or_broth_cont, placeholder: 'Search by name or broth', size: '50' ,class: 'form-control' %>
              <%= button_tag type: 'submit' do %>
                <i class="fas fa-search" aria-hidden="true"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <div class="col-lg-8 offset-lg-2">
      <% @posts.each do |post| %>
        <section class="post">
          <div class="container">
            <div class="row">	
              <div class="cardbox shadow-lg bg-white">
                <%= render 'photo', post: post %>
                <div class="cardbox-base">
                  <P>Name: <%= link_to post do %><%= post.name %><% end %></P>
                  <p>Price: <%= post.price %> yen</p>
                  <p>Broth: <%= post.broth %></p>
                </div>
              </div>
            </div>
          </div>
        </section>
      <% end %>
      <%= paginate @posts %>
    </div>
    
  </div>

</div>

