<div class="row">
  <div class="col-md-3">
    <%= render 'profile' %>
    <br />
    <% if user_signed_in? %>
      <%= search_form_for @q do |f| %>
        <div class="form-inline">
          <%= f.label :name_cont, 'Name Search' %>
          <%= f.search_field :name_cont, class: 'form-control' %>
          <%= button_tag type: 'submit' do %>
            <i class="fas fa-search" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>
      <br />
      <div>
        <p>Would you like to export CSV file?</p>
        <%= link_to 'Click here', posts_path(format: :csv) %>
      </div>
    <% end %>
  </div>
  
  <div class="col-md-6">
    <%= render 'form' %>

    <% @posts.each do |post| %>
      <section class="post">
        <div class="container">
          <div class="row">	
            <div class="cardbox shadow-lg bg-white">
              <%= render 'photo', post: post %>
              <div class="cardbox-base">
                <P>Name: <%= link_to post do %><%= post.name %><% end %></P>
                <p>Price: <%= post.price %> yen</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    <% end %>
    <%= paginate @posts %>
  </div>

  <div class="col-md-3">
  <% if @post_rankings.present? %>
  <div class="row">
    <% @post_rankings.each_with_index do |item, index| %>
      <%= item.name %>
    <% end %>
  </div>
<% end %>
  </div>
</div>

