<div class="row">
  <div class="col-md-3">
    <%= render 'profile' %>
  </div>
  
  <div class="col-md-6 col-md-offset-3">
    <section class="post">
      <div class="row">	
        <div class="cardbox shadow-lg bg-white">
          <%= render 'photo', post: @post %>
          <% if current_user.id == @post.user.id %>
            <div class="float-right">
              <%= link_to edit_post_path(@post) do %><span class="icon"><i class="fas fa-edit"></i></span><% end %>
              <%= link_to @post, method: :delete, data: {confirm: "Are you sure you want to delete this post?" } do %>
                <span class="icon"><i class="fas fa-trash-alt"></i></span>
              <% end %>
            </div>
            <div class="clear"></div>
          <% end %>
          <div class="cardbox-base">
            <p>Name: <%= @post.name %></p>
            <p>Price: <%= @post.price %> yen</p>
            <p><%= @post.content %></p>      
          </div>
          <% if user_signed_in? %>
            <div class="comment-field">
              <form>
                <textarea class="form-control" placeholder="Comment!" ></textarea>
                <button type="submit" class="btn btn-success float-right">Comment</button>
              </form>
            </div>
            <div class="clear"></div>
          <% end %>

          <div class="cardbox-comment">
            <% 5.times do %>
              <p>User name</p>
              <p>Comment will be here</p>
              <hr>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-3">
    <% if current_user.has_liked?(@post) %>
      <%= form_for(current_user.likes.find_by(post_id: @post.id), html: { method: :delete }) do |f| %>
        <%= hidden_field_tag :post_id, @post.id %>
        <%= f.submit 'Unlike', class: "btn btn-primary btn-md" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.likes.build) do |f| %>
        <%= hidden_field_tag :post_id, @post.id %>
        <%= f.submit 'Like', class: "btn btn-primary btn-md" %>
      <% end %>
    <% end %>
  </div>
</div>