<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path, class: 'navbar-brand' do %><span class="icon"><i class="fas fa-home">Home</i></span><% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Favorite', likes_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Everyone's favorites", rankings_path %>
      </li>
    </ul>
    <div>
      <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
          </li>
          <li class="nav-item">
            <%= link_to 'Edit', edit_user_registration_path(current_user) %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'Log In', new_user_session_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path %>
          </li>
        </ul>
      <% end %>
    </div> 
  </div>
</nav>